{% extends 'Base_form.html' %}
{% block content %}
        {% load static %}
        <div id="container2" class="container">
            <div class="container-capture">
                <video id="video" width="640" height="480" autoplay></video>
                <canvas id="canvas" width="640" height="480"></canvas>
            </div>
            <div class="botones">
            <button id="start" class="envio" type="submit">Iniciar</button>
            <button id="boton1" style="display: none;" class="envio" type="submit">Capturar</button>
            <button id="clean" class="envio" type="submit">Limpiar</button>
            </div>
            <form>
                <div class="form-group">
                    <label for="email">Texto Traducido:</label>
                    <div class="cuadro" style="position: relative;">
                        <input id="cuadro_texto" name="traducido" placeholder="El Texto se mostrara aqui" required>
                        <a id="volumeButton" ><i class="bi bi-volume-up-fill"></i></a>
                    </div>
                </div>

            </form>
        </div>
        <script src="/static/js/fetch.js"></script>
        <script src="/static/js/captura.js"></script>
        <script src="/static/js/save_word.js"></script>
{% endblock %}