/*----------------------------------------------diseño para home------------------------------------------------*/
.container-capture {
    display: flex;
    justify-content: center;
    align-items: center;
}
video, canvas {
    margin: 10px;
    width: 360px; 
    height: 280px; 
}

#container2{
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 1px 2px 1px 1px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px;
}

#boton1,#start,#clean{
    display: inline-block;
    width: 50%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px
}
#boton1:hover,#start:hover,#clean:hover {
    background-color: #0056b3;
}


.botones {
    display: flex;
    justify-content: space-between; /* Esto distribuirá los botones horizontalmente */
    margin-top: 20px
}

/*cuadro de texto del traductor*/
.cuadro{
    position: relative;
}

/*diseño del cuadro de texto del traductor*/
#cuadro_texto{
    margin-top: 15px;
    width: 100%;
    height: 300px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

/*boton de escuchar*/
#volumeButton{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 20px;
    font-size: 35px;
}

/*diseño de la camara*/
.camera{
    margin: 0 auto 20px;
    display: block;
    border-radius: 5%; /* Hace que los bordes sean circulares */
    border: 2px solid black; /* Agrega un borde negro */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Agrega una sombra para resaltar */
    width: 75% ;
    height: 600px;
    margin-bottom: 20px;
}

.user-info img {
    width: 40px; /* Establece el ancho de la imagen */
    height: 40px; /* Establece la altura de la imagen */
    border-radius: 50%; /* Hace que la imagen tenga bordes redondeados */
    margin-right: 20px; /* Agrega un margen entre la imagen y el nombre de usuario */
}

.profile-picture img{
    border-radius: 50%;
    width: 250px;
    height: 250px
}